In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests

# Import the API key.
from config import g_key

In [2]:
# Store the CSV into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Yulara,AU,2021-08-08 23:30:24,-25.2406,130.9889,48.04,43,0,5.75
1,1,Bengkulu,ID,2021-08-08 23:30:24,-3.8004,102.2655,76.37,87,62,3.98
2,2,San Rafael,AR,2021-08-08 23:30:25,-34.6177,-68.3301,38.88,94,100,11.56
3,3,Vaini,TO,2021-08-08 23:30:25,-21.2000,-175.2000,73.56,73,75,4.61
4,4,Ribeira Grande,PT,2021-08-08 23:30:26,38.5167,-28.7000,72.86,87,53,16.15

In [3]:
# Configure gmaps to use Google API key.
gmaps.configure(api_key=g_key)

In [4]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [5]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [10]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,Bengkulu,ID,2021-08-08 23:30:24,-3.8004,102.2655,76.37,87,62,3.98
5,5,Hilo,US,2021-08-08 23:29:19,19.7297,-155.0900,82.13,57,90,10.36
18,18,Pitimbu,BR,2021-08-08 23:30:31,-7.4706,-34.8086,75.79,86,33,11.30
23,23,Banda Aceh,ID,2021-08-08 23:30:34,5.5577,95.3222,79.54,83,81,8.03
26,26,Kidal,ML,2021-08-08 23:30:34,18.4411,1.4078,87.57,39,36,0.69
30,30,Hithadhoo,MV,2021-08-08 23:26:49,-0.6000,73.0833,79.81,77,99,3.38
33,33,Jamestown,US,2021-08-08 23:30:20,42.0970,-79.2353,81.72,73,1,5.75
34,34,Songling,CN,2021-08-08 23:30:39,31.1933,120.7176,82.08,71,86,3.38
36,36,Tezu,IN,2021-08-08 23:30:40,27.9167,96.1667,76.96,100,100,1.05
40,40,Butaritari,KI,2021-08-08 23:26:57,3.0707,172.7902,83.73,61,53,11.03

In [11]:
# Check if any null values
preferred_cities_df.count()

City_ID       217
City          217
Country       217
Date          217
Lat           217
Lng           217
Max Temp      217
Humidity      217
Cloudiness    217
Wind Speed    217
dtype: int64

In [12]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

          City Country  Max Temp      Lat       Lng Hotel Name
1     Bengkulu      ID     76.37  -3.8004  102.2655
5         Hilo      US     82.13  19.7297 -155.0900
18     Pitimbu      BR     75.79  -7.4706  -34.8086
23  Banda Aceh      ID     79.54   5.5577   95.3222
26       Kidal      ML     87.57  18.4411    1.4078
30   Hithadhoo      MV     79.81  -0.6000   73.0833
33   Jamestown      US     81.72  42.0970  -79.2353
34    Songling      CN     82.08  31.1933  120.7176
36        Tezu      IN     76.96  27.9167   96.1667
40  Butaritari      KI     83.73   3.0707  172.7902

In [13]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [14]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [15]:
hotel_df.head(15)

,City,Country,Max Temp,Lat,Lng,Hotel Name
1,Bengkulu,ID,76.37,-3.8004,102.2655,Grage Hotel Bengkulu
5,Hilo,US,82.13,19.7297,-155.0900,Hilo Hawaiian Hotel
18,Pitimbu,BR,75.79,-7.4706,-34.8086,Reserva do Abiaí
23,Banda Aceh,ID,79.54,5.5577,95.3222,Sulthan Hotel International
26,Kidal,ML,87.57,18.4411,1.4078,
30,Hithadhoo,MV,79.81,-0.6000,73.0833,Scoop Guest House
33,Jamestown,US,81.72,42.0970,-79.2353,Hampton Inn & Suites Jamestown
34,Songling,CN,82.08,31.1933,120.7176,苏州同里湖大饭店
36,Tezu,IN,76.96,27.9167,96.1667,Circuit House
40,Butaritari,KI,83.73,3.0707,172.7902,Isles Sunset Lodge
41,Araguaina,BR,79.23,-7.1911,-48.2072,Hotel São Vicente
44,Atuona,PF,77.68,-9.8000,-139.0333,Villa Enata
45,Douala,CM,75.11,4.0483,9.7043,Hôtel Prince De Galles Douala
48,Padang,ID,77.05,-0.9492,100.3543,Mercure Padang
51,Adrar,MR,86.95,20.5022,-10.0711,

In [16]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [17]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [18]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))