## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import numpy as np

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_Database.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Weather Description,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Umarkhed,IN,2021-08-08 23:59:25,19.6000,77.7000,overcast clouds,80.35,75,100,2.35
1,1,Diego De Almagro,CL,2021-08-08 23:59:25,-26.3667,-70.0500,few clouds,51.82,44,14,2.55
2,2,Mataura,NZ,2021-08-08 23:59:26,-46.1927,168.8643,overcast clouds,39.47,97,91,5.50
3,3,Paamiut,GL,2021-08-08 23:52:30,61.9940,-49.6678,overcast clouds,43.36,88,98,0.25
4,4,Pevek,RU,2021-08-08 23:59:26,69.7008,170.3133,scattered clouds,37.54,81,27,10.87

In [15]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [16]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head()

,City_ID,City,Country,Date,Lat,Lng,Weather Description,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Umarkhed,IN,2021-08-08 23:59:25,19.6000,77.7000,overcast clouds,80.35,75,100,2.35
5,5,Hilo,US,2021-08-08 23:54:27,19.7297,-155.0900,few clouds,80.26,88,22,9.86
8,8,Faanui,PF,2021-08-08 23:50:39,-16.4833,-151.7500,light rain,79.05,77,22,12.37
15,15,Bengkulu,ID,2021-08-08 23:59:28,-3.8004,102.2655,broken clouds,76.37,87,62,3.98
23,23,Sagua La Grande,CU,2021-08-08 23:59:30,22.8067,-80.0756,clear sky,81.93,72,8,9.80

In [17]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                245
City                   245
Country                245
Date                   245
Lat                    245
Lng                    245
Weather Description    245
Max Temp               245
Humidity               245
Cloudiness             245
Wind Speed             245
dtype: int64

In [18]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna()
clean_df.count()

City_ID                245
City                   245
Country                245
Date                   245
Lat                    245
Lng                    245
Weather Description    245
Max Temp               245
Humidity               245
Cloudiness             245
Wind Speed             245
dtype: int64

In [20]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Weather Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
0,Umarkhed,IN,80.35,overcast clouds,19.6000,77.7000,
5,Hilo,US,80.26,few clouds,19.7297,-155.0900,
8,Faanui,PF,79.05,light rain,-16.4833,-151.7500,
15,Bengkulu,ID,76.37,broken clouds,-3.8004,102.2655,
23,Sagua La Grande,CU,81.93,clear sky,22.8067,-80.0756,
26,Kapaa,US,84.18,scattered clouds,22.0752,-159.3190,
30,Tiarei,PF,84.22,few clouds,-17.5333,-149.3333,
35,Batagay,RU,77.77,few clouds,67.6333,134.6333,
37,Albany,US,77.86,few clouds,42.6001,-73.9662,
38,Lompoc,US,81.57,clear sky,34.6391,-120.4579,

In [21]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [23]:
# 7. Drop the rows where there is no Hotel Name.
hotel_df["Hotel Name"].replace("",np.nan, inplace=True)
clean_hotel_df=hotel_df.dropna()
clean_hotel_df.head(15)

,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
0,Umarkhed,IN,80.35,overcast clouds,19.6000,77.7000,MANOJ SUROSHE
5,Hilo,US,80.26,few clouds,19.7297,-155.0900,Hilo Hawaiian Hotel
8,Faanui,PF,79.05,light rain,-16.4833,-151.7500,Bora-Bora Pearl Beach Resort & Spa
15,Bengkulu,ID,76.37,broken clouds,-3.8004,102.2655,Grage Hotel Bengkulu
23,Sagua La Grande,CU,81.93,clear sky,22.8067,-80.0756,Hotel Telégrafo
26,Kapaa,US,84.18,scattered clouds,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
30,Tiarei,PF,84.22,few clouds,-17.5333,-149.3333,Le Rocher de Tahiti
35,Batagay,RU,77.77,few clouds,67.6333,134.6333,Gostinitsa Ki'ileekh
38,Lompoc,US,81.57,clear sky,34.6391,-120.4579,"Holiday Inn Express Lompoc, an IHG Hotel"
42,Fasa,IR,78.04,clear sky,28.9383,53.6482,Fasa University Boys' Dormitory
44,Jamestown,US,78.19,broken clouds,42.0970,-79.2353,Hampton Inn & Suites Jamestown
49,Atuona,PF,77.68,light rain,-9.8000,-139.0333,Villa Enata
55,Victoria,HK,85.32,overcast clouds,22.2855,114.1577,Mini Hotel Central
60,Baillif,GP,80.10,few clouds,16.0202,-61.7463,Hôtel Saint-Georges
61,Fort Dodge,US,80.82,overcast clouds,42.4975,-94.1680,"Country Inn & Suites by Radisson, Fort Dodge, IA"

In [24]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [27]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>County</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Weather Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [30]:
# 11a. Add a marker layer for each city to the map. 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.2)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))