## Deliverable 3. Create a Travel Itinerary Map.

In [87]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import numpy as np

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [89]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
# vacation_df = pd.read_csv("Vacation_Search/WeatherPy_vacation.csv")
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head(10)

,City_ID,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
0,0,Umarkhed,IN,80.35,overcast clouds,19.6000,77.7000,MANOJ SUROSHE
1,5,Hilo,US,80.26,few clouds,19.7297,-155.0900,Hilo Hawaiian Hotel
2,8,Faanui,PF,79.05,light rain,-16.4833,-151.7500,Bora-Bora Pearl Beach Resort & Spa
3,15,Bengkulu,ID,76.37,broken clouds,-3.8004,102.2655,Grage Hotel Bengkulu
4,23,Sagua La Grande,CU,81.93,clear sky,22.8067,-80.0756,Hotel Telégrafo
5,26,Kapaa,US,84.18,scattered clouds,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
6,30,Tiarei,PF,84.22,few clouds,-17.5333,-149.3333,Le Rocher de Tahiti
7,35,Batagay,RU,77.77,few clouds,67.6333,134.6333,Gostinitsa Ki'ileekh
8,38,Lompoc,US,81.57,clear sky,34.6391,-120.4579,"Holiday Inn Express Lompoc, an IHG Hotel"
9,42,Fasa,IR,78.04,clear sky,28.9383,53.6482,Fasa University Boys' Dormitory

In [91]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>County</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Weather Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [92]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [97]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 

vacation_start = vacation_df.loc[vacation_df["City"] == "Roswell"]
vacation_end = vacation_df.loc[vacation_df["City"] == "Roswell"]
vacation_stop1 = vacation_df.loc[vacation_df["City"] == "Carbondale"]
vacation_stop2 = vacation_df.loc[vacation_df["City"] == "Ashland"]
vacation_stop3 = vacation_df.loc[vacation_df["City"] == "Elizabeth City"]

In [98]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start["Lat"].to_numpy()[0],vacation_start["Lng"].to_numpy()[0]
end = vacation_end["Lat"].to_numpy()[0],vacation_end["Lng"].to_numpy()[0]
stop1 = vacation_stop1["Lat"].to_numpy()[0],vacation_stop1["Lng"].to_numpy()[0]
stop2 = vacation_stop2["Lat"].to_numpy()[0],vacation_stop2["Lng"].to_numpy()[0]
stop3 = vacation_stop3["Lat"].to_numpy()[0],vacation_stop3["Lng"].to_numpy()[0]

print(start)
print(end)
print(stop1)
print(stop2)
print(stop3)

(34.0232, -84.3616)
(34.0232, -84.3616)
(37.7273, -89.2168)
(40.8167, -82.2665)
(36.2946, -76.2511)

In [99]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".

fig = gmaps.figure()
itn = gmaps.directions_layer(start, end, waypoints=[stop1, stop2, stop3], travel_mode="DRIVING")
fig.add_layer(itn)
fig

Figure(layout=FigureLayout(height='420px'))

In [101]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
0,538,Roswell,US,84.79,overcast clouds,34.0232,-84.3616,La Quinta Inn & Suites by Wyndham Atlanta Roswell
1,264,Carbondale,US,84.49,very heavy rain,37.7273,-89.2168,Best Western Saluki Inn
2,227,Ashland,US,82.31,few clouds,40.8167,-82.2665,"Holiday Inn Express & Suites Ashland, an IHG H..."
3,210,Elizabeth City,US,81.01,few clouds,36.2946,-76.2511,Hampton Inn Elizabeth City

In [104]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>County</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Weather Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [105]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure()
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))